@charset "UTF-8";

@import url(../../com.alkacon.opencms.calendar/resources/calendar.css);

@media all
{	
	form.contactform input {
		border: 1px solid #A3AAB7;
	}

	form.contactform input[type=text] {
		font-size: small;
		width: 100%;
	}

	form.contactform td {
		padding: 1px;
	}

	form.contactform textarea {
		width: 100%;
		height: 100px;
	}
	
	table.cal_month_table td.cal_mon_nav,
	table.cal_month_table td.cal_mon_weekday,
	table.cal_month_table td.cal_mon_day {
		border: 1px solid #AACCFF;
	}
	
	table.cal_month_table  td.cal_mon_day_empty {
		background-color: #AACCFF;
		border: 1px solid #AACCFF;
	}
}