/* Block element surrounding complete subscription output html */
div.newslettersubscription-wrapper {
}

/* The subscription form */
form.newslettersubscription-form {
	width: 350px;
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	padding: 6px;
}

/* Block around the form radio buttons and corresponding text */
div.newslettersubscription-radio {
	padding: 0 0 4px 0;
}

/* Block around the email input field and its text */
div.newslettersubscription-email {
	padding: 4px 0 4px 0;
}

/* Block around the form buttons */
div.newslettersubscription-buttons {
	border-top: 1px solid #BBBBBB;
	padding: 6px 0 0 0;
	text-align: center;
}

/* Email text input field */
input.newslettersubscription-email {
	border: 1px solid #CCCCCC;
	width: 200px;
}

/* Form buttons */
div.newslettersubscription-buttons input {
	border: 1px solid #555555;
	background-color: #CCCCCC;
}

/* Paragraph for validation error message headline */
p.newslettersubscription-error {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: 4px;
}

/* List fo the validation error messages */
ul.newslettersubscription-error {
	margin-top: 0;
}


/* SMALL form for side inclusion */

/* The subscription form */
form.newslettersubscription-form-sm {
	width: 135px;
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	padding: 2px;
	margin: 5px;
}

/* Block around the form radio buttons and corresponding text */
div.newslettersubscription-radio-sm {
	padding: 0 0 2px 0;
	font-size: 10px;
}

/* Block around the email input field and its text */
div.newslettersubscription-email-sm {
	padding: 2px 0 2px 0;
	font-size: 10px;
}

/* Block around the form buttons */
div.newslettersubscription-buttons-sm {
	padding: 6px 0 0 0;
	text-align: center;
}

/* Email text input field */
input.newslettersubscription-email-sm {
	border: 1px solid #CCCCCC;
	width: 88px;
	font-size: 10px;
}

/* Form buttons */
div.newslettersubscription-buttons-sm input {
	border: 1px solid #555555;
	background-color: #CCCCCC;
	font-size: 10px;
}