<?xml version="1.0" encoding="UTF-8"?>

<SitemapConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd">
  <SitemapConfiguration language="en">
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/system/modules/com.alkacon.opencms.v8.formgenerator/config/models/webform.html]]></target>
          <uuid>03bbbd23-8204-11e0-ba64-45a5ae8025c8</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern><![CDATA[wf_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
    <ResourceType>
      <Source>
        <link type="STRONG">
          <target><![CDATA[/system/modules/com.alkacon.opencms.v8.formgenerator/config/models/webform_report.html]]></target>
          <uuid>493f4d3f-8204-11e0-ba64-45a5ae8025c8</uuid>
        </link>
      </Source>
      <Destination>
        <Pattern><![CDATA[wfr_%(number).html]]></Pattern>
      </Destination>
    </ResourceType>
  </SitemapConfiguration>
</SitemapConfigurations>
