<?xml version="1.0" encoding="UTF-8"?>

<HtmlCleanerConfigurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.alkacon.opencms.htmlcleaner/schemas/cleanerconfig.xsd">
  <HtmlCleanerConfiguration language="en">
    <KeepTags>
      <KeepTag><![CDATA[h1]]></KeepTag>
      <KeepTag><![CDATA[h2]]></KeepTag>
      <KeepTag><![CDATA[h3]]></KeepTag>
      <KeepTag><![CDATA[p]]></KeepTag>
      <KeepTag><![CDATA[br]]></KeepTag>
      <KeepTag><![CDATA[strong]]></KeepTag>
      <KeepTag><![CDATA[i]]></KeepTag>
      <KeepTag><![CDATA[ol]]></KeepTag>
      <KeepTag><![CDATA[ul]]></KeepTag>
      <KeepTag><![CDATA[li]]></KeepTag>
      <KeepTag><![CDATA[img]]></KeepTag>
      <KeepTag><![CDATA[a]]></KeepTag>
      <KeepTag><![CDATA[area]]></KeepTag>
      <KeepTag><![CDATA[map]]></KeepTag>
      <KeepTag><![CDATA[table]]></KeepTag>
      <KeepTag><![CDATA[thead]]></KeepTag>
      <KeepTag><![CDATA[tbody]]></KeepTag>
      <KeepTag><![CDATA[tfoot]]></KeepTag>
      <KeepTag><![CDATA[th]]></KeepTag>
      <KeepTag><![CDATA[tr]]></KeepTag>
      <KeepTag><![CDATA[td]]></KeepTag>
    </KeepTags>
    <ReplaceTags>
      <ReplaceTag>
        <TagName><![CDATA[pre]]></TagName>
        <TagReplace><![CDATA[p]]></TagReplace>
      </ReplaceTag>
      <ReplaceTag>
        <TagName><![CDATA[div]]></TagName>
        <TagReplace><![CDATA[p]]></TagReplace>
      </ReplaceTag>
      <ReplaceTag>
        <TagName><![CDATA[h4]]></TagName>
        <TagReplace><![CDATA[h3]]></TagReplace>
      </ReplaceTag>
      <ReplaceTag>
        <TagName><![CDATA[h5]]></TagName>
        <TagReplace><![CDATA[h3]]></TagReplace>
      </ReplaceTag>
      <ReplaceTag>
        <TagName><![CDATA[h6]]></TagName>
        <TagReplace><![CDATA[h3]]></TagReplace>
      </ReplaceTag>
    </ReplaceTags>
    <RemoveAttributes>
      <RemoveAttribute>
        <AttributeName><![CDATA[width]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[height]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[class]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[style]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[align]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[valign]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[border]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[cellpadding]]></AttributeName>
      </RemoveAttribute>
      <RemoveAttribute>
        <AttributeName><![CDATA[cellspacing]]></AttributeName>
      </RemoveAttribute>
      <IgnoreTag><![CDATA[img]]></IgnoreTag>
    </RemoveAttributes>
  </HtmlCleanerConfiguration>
</HtmlCleanerConfigurations>
