/* should be more or less equal to border-radius */
.mm-input { padding: 0 4px; } 
/* prevent input boxes and buttons to use bold fonts, not really needed */
.mm-input.ui-widget.ui-corner-all input, .fg-button.ui-widget.ui-state-default, .mm-input.ui-widget.ui-state-disabled { font-weight: normal; }
/* select box text */
.mm-select .menu-selection { font-weight: normal; padding-left: 4px; margin-right: -6px; }
  
/* set font-size and line-height to something usable */
body form div.ui-widget fieldset, body div.ui-dialog fieldset { font-size: 0.8em; line-height: 2em; }
/* fieldset spacing */
body form div.ui-widget fieldset, body div.ui-dialog fieldset { margin: 2px; padding: 0.35em 0.625em; }
/* select box fixes */
ul.fg-menu li a:link, ul.fg-menu li a:visited, ul.fg-menu li a:hover, ul.fg-menu li a:active { padding: 0; width: 100%; font-size: 0.8em; }
ul.fg-menu li span.ui-state-disabled { margin: 1px; padding: 1px 4px; font-size: 0.8em; float: left; }
div.fg-menu-container ul.fg-menu li a { font-size: 0.8em; }
.fg-menu a span { padding: 1px 4px; }
/* application specific */
.map { width: 100%; height: 100%; line-height: 1.3em; }
.map-container { width: 300px; height: 200px; padding: 2px; }
.mm-nowrap { white-space: nowrap; }
