@charset "UTF-8";

@import url(pagination/pagination.css);
@import url(thickbox/thickbox.css);

.album_box {
	float: left; 
	padding: 5px; 
	margin: 5px; 
}

.gallery_thumb {
	vertical-align: middle;
}